html {}

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,700);
body {
  background: #e9eaed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}

.container {}
.cont{
  position: relative;
  color: red;
  font-size: 60px;
  margin-top: 0px;
  left:46%;
  right: 50%;
  margin-top: 0px;
}
.display-2{
  display: flex;
  justify-content: center;
  position: relative;
  right:2%;


}
.wrapper {}

#header {
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}

.navbar>li>a {}

.navbar-header {}

.navbar-brand {
  width: 160px;
  height: 160px;
  float: left;
  padding: 0;
  margin-top: -130px;
  overflow: hidden;
  border: 3px solid #eee;
  margin-left: 15px;
  background: #333;
  text-align: center;
  line-height: 160px;
  color: #fff !important;
  font-size: 2em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.site-name {
  color: #fff;
  font-size: 2.4em;
  float: left;
  margin-top: -65px !important;
  margin-left: 15px;
  font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}

.site-description {
  color: #fff;
  font-size: 1.3em;
  float: left;
  margin-top: -30px !important;
  margin-left: 15px;
}

.well-lg {
  width: auto;

  font-size: 20px;
  display: flex;
  justify-content: center;
  position: relative;
    left: 70%;
}

.main-menu {
  position: absolute;
  left: 190px;
}

.well-lg {
  position:relative;
  border: 1px;
  border-style: solid;
  border-color: black;
  font-size: 20px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top:20px;
  left:22%;
  right: 20%;

}

.slider, .carousel {
  max-height: 360px;
  overflow: hidden;
}

.carousel-control .fa-angle-left, .carousel-control .fa-angle-right {
  position: absolute;
  top: 50%;
  font-size: 2em;
  z-index: 5;
  display: inline-block;
}

.carousel-control {
  background-color: transparent;
  background-image: none !important;
}

.carousel-control:hover, .carousel-control:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent !important;
  background-image: none !important;
  outline: 0;
}

@media (max-width: 768px) {
  .navbar-brand {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin-top: -65px;
    margin-left: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .navbar {
    border-radius: 0;
    margin-bottom: 0;
    border: none;
  }
  .main-menu {
    left: 0;
    position: relative;
  }
}

@media (max-width: 490px) {
  .site-name {
    color: #fff;
    font-size: 1.5em;
    float: left;
    line-height: 20px;
    margin-top: -100px !important;
    margin-left: 125px;
  }
  .site-description {
    color: #fff;
    font-size: 1.3em;
    float: left;
    margin-top: -80px !important;
    margin-left: 125px;
  }
}

.playlist-button {
  position: relative;
  left:  20%;
  right: 20%;
  margin-top: 50px;
  margin-right: 50px;
  display: block;
  justify-content: center;
  float: left;
  background-color: gray;
  border-radius: 20px;
}

.playlist {
  position: relative;
  left: 20%;
  right: 20%;
  margin-top: 50px;
  display: block;
  justify-content: center;
  float: left;
  background-color: gray;
  border-radius: 20px;
}

.song-playing {
  background-color: red;
  padding: 10px;
  margin: 10px;
  display: block;
  margin-right: auto;
  color: white
}

.button-playlist {
  display: flex;
  justify-content: center;
}

.song-playing, .song-lock, .song-unlock {
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.title-playlist {
  display: flex;
  justify-content: center;
}

.song-lock {
  background-color: black;
  padding: 10px;
  margin: 10px;
  display: block;
  margin-right: auto;
  color: white
}

.song-unlock {
  background-color: white;
  padding: 10px;
  margin: 10px;
  display: block;
  margin-right: auto;
  color: black;
}

.background-green {
  background-color: green;
}

.hide {
  display: none;
}

.buttons-playlist {}

.buttons {
  display: flex;
  justify-content: center;
  margin-right: 50px;
}

.btn {
  margin-top: 10px;
}

.input-group-lg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-default {
  text-decoration: none;
}

.btn:hover {
  background-color: #4CAF50;
  /* Green */
  color: white;
}

.img-nav {
  position: absolute;
  top: 8px;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.navbar-text {
  margin-left: 50px;
  font-size: 20px;
}
