<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>




<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="!playlistdataArray" class="preloader-wrapper big active loading">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <div *ngIf="playlistdataArray">
          <div *ngIf="!playlistdataArray" class="text-center">
            <h1>TOKEN EXPIRED</h1></div>
            <div class="valign-wrapper center-align text-center image-playlist">
              <div class="text-info-playlist-title" > {{ playlistdataArray.arrayPlaylistdata[0] }}</div>
            </div>
          <div class="valign-wrapper center-align text-center">
            <img class="responsive-img circle valign-wrapper center-align image-playlist z-depth-5" src="{{playlistdataArray.arrayPlaylistdata[1]}}"></div><br>
          <div class="valign-wrapper center-align text-center">
            <div class="text-info-playlist">  Playlist of {{playlistdataArray.arrayPlaylistdata[2]}}</div>
          </div>

          <br>
          <div></div>
          <div class=" col s12 buttons">
            <button type="button z-depth-5" class="btn btn-default btn-lg" (click)="play()">
         <i  class="material-icons">play_arrow</i>
         </button>
            <button type="button z-depth-5" class="btn btn-default btn-lg" (click)="pause()">
           <i  class="material-icons">pause</i>
         </button>
            <button type="button z-depth-5" class="btn btn-default btn-lg" (click)="nextSong()">
        <i  class="material-icons">skip_next</i>
         </button>

          </div>
          <!--/#HEADER-->

          <div *ngIf="!coldown">
            <div *ngIf="playlistimages">
              <div materialize=carousel class="carousel ">
                <div *ngFor="let image of dataplaylist[1]; let i = index" [attr.data-index]="i">
                  <div *ngIf="i>=contSongs">

                    <div class="carousel-item">
                      <div class="center-align text-song">{{playlist[i]}}</div><img class="z-depth-5" [src]="image"><button class="btn btn-floating btn-large cyan pulse button-add-list" (click)="reorder(i)" (click)="timer()" ng-click="toggle=!toggle"><i class="material-icons">format_indent_increase</i></button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h1 *ngIf="coldown" class=" col s12 display-2 ">Wait the next turn </h1>
          <div *ngIf="coldown" class="cont btn btn-floating btn-large black pulse"> {{cont}}</div>
          <div>

            <!-- <div *ngIf="artistCurrentString" class="well well-lg"> <b>Canción Actual : </b>{{ artistCurrentString}}

          </div> -->




            <ul class="collection z-depth-5">
              <div *ngFor="let song of playlist; let i = index" [attr.data-index]="i">
                <li class="collection-item avatar" [ngClass]="{ 'card-panel teal black white-text':i<contSongs, ' card-panel grey lighten-5':i>=contSongs, ' card-panel red accent-4':i==0 }">
                  <img [src]="playlistimages[i]" alt="" class="circle">
                  <span class="title">Song</span>
                  <p>{{song}} <span *ngIf="i==0"> <br> Playing</span>
                  </p>
                  <div class="secondary-content"><i *ngIf="i==0" class="material-icons">play_arrow</i><i *ngIf="i>=contSongs" class="material-icons">format_indent_increase </i> <i *ngIf="i<contSongs && i!==0" class="material-icons">block</i></div>
                </li>

              </div>
            </ul>

          </div>
        </div>
