
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<app-login-form *ngIf="!session.user && session.startLoginCompleted"></app-login-form>


<div *ngIf="session.user && session.startLoginCompleted">
  <nav class="teal lighten-2">
    <div class="nav-wrapper">
      <a [routerLink]="['']" class="brand-logo"><i class="material-icons right">apps</i><span class="nav-title">{{ session.user.name }}</span></a>
      <ul class="right show-on-medium-and-down">

        <li><a (click)="logout()" (click)="destroySession(session.user)"><i class="material-icons left">cloud_off</i>Log out</a></li>

      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>

  <!-- <pre>{{ session.user | json }}</pre> -->
