.img-thumbnail{
  width: 200px;
}
.btn-responsive{
  display: flex;
  justify-content: center;
}
.establishment{

  display: flex;
  justify-content: center;
  float: left;

}
.loading{
  display: flex;
  justify-content: center;
  margin: 0 auto;

}
.text-center{
  display: flex;
  justify-content: center;
}
